- var images = dist ? '' : '../dist/'
//- var images = 'http://verstka.100up.ru/emails/---/'

doctype html
html
    head
        meta(charset='utf-8')

        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

        each val in ['base', 'main', 'media']
            link(href=val + '.css', rel='stylesheet')

        style(data-embed).

    body
        table#bodyTable: tr: td.body-table-inner
            table.main-table(align='center')
                //-Header
                tr
                    td.test
                        | 123
                        img(src=images + 'image.png', alt='')

                //-Main

                //-Footer