@import 'config.scss';

//Project styles
#bodyTable{
    width: 100% !important;
    height: 100% !important;
    background: #fff;
    color: #000;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    border: none;
    margin: 0;
    padding: 0;
    td{
        font-family: Arial, Helvetica, sans-serif !important;
    }
}

//Common
.tel{
    white-space: nowrap;
}

//Header

//Main

//Footer